<h3>User info comp</h3>
<div>
  <input
    [(ngModel)]="userInfo.firstname"
    type="text"
    placeholder="First name"
  >
  <input
    [(ngModel)]="userInfo.lastname"
    type="text"
    placeholder="Last name"
  >
  <input
    [(ngModel)]="userInfo.age"
    type="text"
    placeholder="Age"
  >
</div>
<h3>User address</h3>
<div>
  <input
    [(ngModel)]="userInfo.address.street"
    type="text"
    placeholder="Street"
  >
  <input
    [(ngModel)]="userInfo.address.houseNumber"
    type="text"
    placeholder="House number"
  >
  <input
    *ngIf="isUsa"
    [(ngModel)]="userInfo.address.districtName"
    type="text"
    placeholder="District name"
  >
</div>
<br>
<div>
  <button (click)="onSave()">Save</button>
  <button>Cancel</button>
</div>
